img.photo{
height: 200px;
width: 175px;
}
body{
font-size: 25px;
background: linear-gradient(to left,aqua,white);
background-color:
}
h1{
font-size: 30px;
}
img.sign{
height: 50px;
width: 175px;
}